.defaultText {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
}

#background {
  width: 100%;
  height: 100%;
  fill: white;
}

#sosLabel {
  font-size: 10;
  font-family: Colfax-Light;
  text-length: 50;
  text-anchor: end;
  x: 98%;
  y: 20%;
  fill: black;
}